{% extends 'MainPage.html' %}

{% block DeleteGroup %}

<form method="POST">
    <label class="pageelem">Имя группы: {{ group.channelgroup_name }}</label>
    <br>
    <label class="pageelem">Имя выбранной ТА: {{ group.channelgroup_TA.TA_name }}</label>
    <br>
    <label class="pageelem">Общий размер выбранной ТА: {{ group.channelgroup_TA.TA_Size }}</label>
    <br>

    {% for channel in channels%}
        <br>
        Имя канала: {{ channel.channel_name }}
        <br>
        <br>
            {% for Ta in Tas %}
                {% if Ta.channel_id == channel.channel_id %}
                    <label class="pageelem">Default_CPM:</label>
                    <label class="pageelem">{{ Ta.default_CPM }}</label>
                    <br>
                    <label class="pageelem"> TA_CBU_Z: </label>
                    <label class="pageelem">{{ Ta.TA_CBU_Z }}</label>
                    <br>
                    <label class="pageelem">TA_CBU_P: </label>
                    <label class="pageelem">{{ Ta.TA_CBU_P }}</label>
                     <br>
                    <label class="pageelem">TA_CBU_L: </label>
                    <label class="pageelem">{{ Ta.TA_CBU_L }}</label>
                    <br>
                    <label class="pageelem">{{ Ta.Channel_TA_R }}</label>
                {% endif %}
            {% endfor %}
        <br>
    {% endfor %}

    {% csrf_token %}
    <br>
    <br>
    <h2  class="pageelem">Вы уверены что хотите удалить данную группу?</h2>
<input type="hidden" name="groupid" value="{{ group.channelgroup_id}}">
<button  class="cool_button" type="submit">Да</button><button type="button"  class="cool_button" onclick="location.href = '/My_groups'">Отмена</button>
<br>
<br>
<br>
<br>
</form>


{% endblock %}