{% extends 'MainPage.html' %}

{% block login %}

    <div class="centered"  style="margin-left:auto;margin-right:auto;width:800px;">
    <form action="" method="post">

        <br>
        <br>
      {% csrf_token %}
      <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
      {{ form.as_p }}
      <button class="cool_button" style="left: -20px;" type="submit">Войти</button>
         <button class="cool_button" style="left: -20px;" onclick=func()>Создать аккаунт</button>
    </form>
 </div>

    <script>
            function func() {
                $('input[name="username"]').val("")
                $('input[name="password"]').val("")
                document.location.href = '/register'
            }
        </script>

{% endblock %}