{% extends 'MainPage.html' %}

{% block show_groups %}



    {% load staticfiles %}
<div class="table-responsive" id="DivTable1">
    <table class="table pageelem">
        <thead class="thead-inverse">
            <tr>
                <th>Имя группы</th>
                <th>Выбранная TA</th>
                <th>Размер ТА (чел) </th>
                <th>Каналы входящие в группу</th>
                <th></th>
            </tr>
        </thead>

    {% for group in groups %}



            <tr>
                <td width="200px"><a href="/showgroup/?Group_id={{ group.channelgroup_id }}"> {{ group.channelgroup_name }}</a> </td>
                <td width="200px">{{ group.channelgroup_TA.TA_name }}</td>
                <td width="200px">{{ group.channelgroup_TA.TA_Size }}</td>
                <td width="200px"> <div id="{{ group.channelgroup_id }}"> </div></td>
                <td width="200px" align="center"><a href="/DeleteGroup/?Group_id={{ group.channelgroup_id }}"><img src="{% static 'icons/Delete.png' %}"/></a></td>
            </tr>


         <script type="text/javascript">
         $.ajax({
            type: "GET",
            url: "/showchannel_ingroup",
            data:{'group_id':{{ group.channelgroup_id}}},
            dataType: "html",
            cache: false,
            success: function(data){
                $("#{{ group.channelgroup_id }}").html(data);
            }
       });
         </script>

    {% endfor %}
    </table>
</div>
    {% block test %}{% endblock %}

{% endblock %}