{% extends 'MainPage.html' %}

{% block register %}

    <form action="" method="post">
        <div class="centered"  style="margin-left:auto;margin-right:auto;width:800px;">
            <br>
            <br>
              {% csrf_token %}
              <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
              {{ form.as_p }}
              <button class="cool_button" style="left: -20px;" type="submit">Зарегистрироваться</button>
        </div>
    </form>

{% endblock %}